[defaults]
retry_files_enabled = False
display_skipped_hosts = false
stdout_callback = yaml
callback_whitelist = profile_tasks, timer

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
