apiVersion: migration.openshift.io/v1alpha1
kind: MigrationController
metadata:
  name: migration-controller
  namespace: {{ mig_migration_namespace }}
spec:
  cluster_name: host
  migration_velero: {{ mig_controller_velero }}
  migration_controller: {{ mig_controller_host_cluster }}
  migration_ui: {{ mig_controller_ui }}
  mig_controller_image: {{ mig_controller_img }}
  mig_controller_version: {{ mig_controller_tag }}
  mig_ui_image: {{ mig_ui_img }}
  mig_ui_version: {{ mig_ui_tag }}
  velero_image: {{ mig_velero_img }}
  velero_version: {{ mig_velero_tag }}
  velero_plugin_image: {{ mig_velero_plugin_img }}
  velero_plugin_version: {{ mig_velero_plugin_tag }}
  
  #To install the controller on Openshift 3 you will need to configure the API endpoint:
  #mig_ui_cluster_api_endpoint: https://replace-with-openshift-cluster-hostname:8443/api
