apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  labels:
    opsrc-owner-name: migration-operator
    opsrc-owner-namespace: openshift-marketplace
  name: migration-operator
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  address: {{ grpc_endpoint }}
  displayName: Migration Operator
  publisher: ocp-migrate-team@redhat.com
