apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
{% if mig_operator_use_downstream|bool is sameas true %}
  name: cam-operator
{% else %}
  name: konveyor-operator
{% endif %}
  namespace: {{ mig_migration_namespace }}
spec:
  channel: {{ mig_operator_channel }}
  installPlanApproval: Automatic
{% if mig_operator_use_downstream|bool is sameas true %}
  name: cam-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  startingCSV: cam-operator.{{ mig_operator_release }}
{% else %}
  name: konveyor-operator
  source: migration-operator
  sourceNamespace: openshift-marketplace
{% if mig_operator_latest_release is defined %}
  startingCSV: {{ mig_operator_latest_release }}
{% else %}
  startingCSV: konveyor-operator.{{ mig_operator_release }}
{% endif %}
{% endif %}
