apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
{% if mig_operator_use_downstream|bool is sameas true %}
  name: cam-operator
{% else %}
  name: konveyor-operator
{% endif %}
  namespace: {{ mig_migration_namespace }}
spec:
{% if mig_operator_release == 'latest' %}
  channel: latest
{% elif mig_operator_release == 'v1.0' %}
  channel: release-v1
{% else %}
  channel: release-{{ mig_operator_release }}
{% endif %}
  installPlanApproval: Automatic
{% if mig_operator_use_downstream|bool is sameas true %}
  name: cam-operator
{% if mig_operator_use_disconnected|bool is sameas true %}
  source: catalog
  sourceNamespace: openshift-migration
{% else %}
  source: redhat-operators
  sourceNamespace: openshift-marketplace
{% endif %}
{% else %}
  name: konveyor-operator
  source: migration-operator
  sourceNamespace: openshift-marketplace
{% endif %}
