apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
{% if mig_operator_use_downstream|bool is sameas true %}
  name: mtc-operator
{% else %}
  name: konveyor-operator
{% endif %}
  namespace: {{ mig_migration_namespace }}
spec:
{% if mig_operator_release == 'latest' %}
  channel: development
{% else %}
  channel: release-{{ mig_operator_release }}
{% endif %}
  installPlanApproval: Automatic
{% if mig_operator_use_downstream|bool is sameas true %}
  name: mtc-operator
{% if mig_operator_use_disconnected|bool is sameas true %}
  source: catalog
  sourceNamespace: openshift-migration
{% else %}
  source: redhat-operators
  sourceNamespace: openshift-marketplace
{% endif %}
{% else %}
  name: mtc-operator
{% if mig_operator_build_custom|bool is sameas true %}
  source: konveyor-ci-operators
{% else %}
{% if cluster_version is defined and cluster_version is version('4.4', '>') %}
  source: konveyor-for-containers-bundle
{% else %}
  source: migration-operator
{% endif %}
{% endif %}
  sourceNamespace: openshift-marketplace
{% endif %}
